# My model is random forests.

In [43]:
# import modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
# import dataset1

oli = pd.read_csv('Data/finaldataset.csv', index_col=0)

oli.head()

,isFraud,TransactionID,id_17,id_35,TransactionDT,card3,id_15,id_16,id_28,id_29,id_30,id_33,DeviceInfo,ProductCD,P_emaildomain
0,0,2987000,NaN,NaN,86400,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,NaN
1,0,2987001,NaN,NaN,86401,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,gmail.com
2,0,2987002,NaN,NaN,86469,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,outlook.com
3,0,2987003,NaN,NaN,86499,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,yahoo.com
4,0,2987004,166.0,T,86506,150.0,New,NotFound,New,NotFound,Android 7.0,2220x1080,SAMSUNG SM-G892A Build/NRD90M,H,gmail.com

In [45]:
oli.select_dtypes(include=np.number).columns.to_list()

['isFraud', 'TransactionID', 'id_17', 'TransactionDT', 'card3']

In [46]:
oli.select_dtypes(exclude=np.number).nunique()

id_35               2
id_15               3
id_16               2
id_28               2
id_29               2
id_30              75
id_33             260
DeviceInfo       1786
ProductCD           5
P_emaildomain      59
dtype: int64

In [47]:
oli.columns.tolist()

['isFraud',
 'TransactionID',
 'id_17',
 'id_35',
 'TransactionDT',
 'card3',
 'id_15',
 'id_16',
 'id_28',
 'id_29',
 'id_30',
 'id_33',
 'DeviceInfo',
 'ProductCD',
 'P_emaildomain']

In [48]:
oli['id_33'].unique()

array([nan, '2220x1080', '1334x750', '1280x800', '1366x768', '1920x1080',
       '1680x1050', '1136x640', '5120x2880', '2880x1800', '1920x1200',
       '2560x1600', '2048x1536', '1024x768', '1280x720', '2560x1440',
       '2208x1242', '2001x1125', '1440x900', '1600x900', '2672x1440',
       '1280x1024', '960x540', '2732x2048', '2436x1125', '2048x1152',
       '2960x1440', '1024x600', '855x480', '4096x2304', '2160x1440',
       '2562x1442', '801x480', '2736x1824', '3441x1440', '2880x1620',
       '3840x2160', '1638x922', '1280x768', '1360x768', '1280x960',
       '3440x1440', '1152x720', '1280x1025', '3360x2100', '2304x1296',
       '1152x864', '3200x1800', '2112x1188', '2224x1668', '2400x1350',
       '2000x1125', '1600x1000', '2560x1080', '1728x972', '3000x2000',
       '1024x640', '3840x2400', '2304x1440', '1280x600', '1400x1050',
       '1600x1200', '3201x1800', '1356x900', '1344x756', '1624x1080',
       '1536x864', '1800x1125', '1920x1281', '2961x1442', '1366x1024',
       '1344x840', '3360x1890', '1536x1152', '1200x675', '1480x720',
       '2400x1600', '3200x2000', '1281x801', '960x640', '1776x1000',
       '2048x1280', '2049x1152', '1138x640', '2160x1215', '2880x1440',
       '0x0', '2520x1575', '5760x3240', '3843x2163', '1184x720',
       '1440x810', '2076x1080', '1600x837', '1093x615', '1281x721',
       '1152x648', '2392x1440', '2048x1080', '2735x1825', '1680x945',
       '1805x1015', '5760x1080', '2816x1584', '4500x3000', '1684x947',
       '1440x960', '1364x768', '3072x1728', '5040x3150', '7500x5000',
       '768x576', '1768x992', '1658x946', '1200x720', '1239x697',
       '1188x720', '1232x800', '1920x1280', '1264x924', '1400x900',
       '3240x2160', '2961x1440', '1422x889', '1848x1155', '3360x1050',
       '3840x1080', '2010x1080', '2160x1350', '1440x720', '1280x712',
       '1512x945', '1296x774', '1368x768', '3520x1980', '800x600',
       '1700x960', '2560x1800', '6400x3600', '2368x1440', '1824x1026',
       '1912x1025', '600x450', '3840x1600', '1760x990', '2700x1800',
       '1371x857', '1776x1080', '2552x1337', '3600x2250', '2560x1700',
       '2816x1760', '1440x800', '1440x803', '1920x1018', '6016x3384',
       '1280x620', '1281x720', '1720x1440', '1408x880', '640x360',
       '1920x975', '976x600', '1062x630', '2800x1575', '6720x3780',
       '1440x759', '1120x700', '1921x1081', '1280x1023', '1279x1023',
       '1441x901', '1679x1049', '1680x1051', '2220x1081', '1920x1079',
       '1919x1199', '1680x1049', '1365x768', '1919x1079', '1919x1200',
       '1919x1080', '1366x767', '1584x990', '2880x1442', '1281x800',
       '1229x691', '1600x1024', '1600x899', '1536x960', '1502x844',
       '1920x1201', '1439x809', '1408x792', '1279x1024', '1599x900',
       '1920x1081', '921x691', '3841x2161', '1921x1080', '480x320',
       '1888x941', '2049x1536', '2160x1439', '1707x960', '1024x767',
       '1365x767', '3001x2000', '3839x2160', '1916x901', '3838x2158',
       '1599x899', '3199x1800', '1511x944', '2737x1825', '2736x1823',
       '2735x1823', '2559x1439', '2400x1500', '2882x1442', '1729x973',
       '1727x971', '1023x767', '1918x1080', '1439x900', '4499x2999',
       '1280x740', '2999x2000', '1024x552', '1440x899', '2255x1503',
       '1025x768', '1280x732', '3839x2159', '3840x2162', '3696x2310',
       '2159x1439', '2256x1504', '1439x899', '2159x1440', '1359x768',
       '1092x614', '2048x1278', '2591x1619', '4200x2625', '2710x1440',
       '1272x960', '1023x768', '3838x2160', '2100x1312', '1360x767',
       '1024x819', '1502x845', '2561x1442', '2559x1440', '2160x1081',
       '1920x1279', '2160x1080', '1596x710', '1496x844', '1280x900'],
      dtype=object)

Create data transformation pipeline

In [49]:
X = oli.drop('isFraud', axis=1)

X_ = X.copy()

temp = X_['DeviceInfo'].copy()

valid_types = ['Windows', 'iOS Device', 'MacOS', 'Trident/7.0']

temp[~(temp.isin(valid_types))] = 'hi'

temp

0         hi
1         hi
2         hi
3         hi
4         hi
          ..
590535    hi
590536    hi
590537    hi
590538    hi
590539    hi
Name: DeviceInfo, Length: 590540, dtype: object

In [50]:

new_deviceInfo = temp[~(temp.isin(valid_types))] = 'other'

X_['DeviceInfo'] = new_deviceInfo

X_.head()

,TransactionID,id_17,id_35,TransactionDT,card3,id_15,id_16,id_28,id_29,id_30,id_33,DeviceInfo,ProductCD,P_emaildomain
0,2987000,NaN,NaN,86400,150.0,NaN,NaN,NaN,NaN,NaN,NaN,other,W,NaN
1,2987001,NaN,NaN,86401,150.0,NaN,NaN,NaN,NaN,NaN,NaN,other,W,gmail.com
2,2987002,NaN,NaN,86469,150.0,NaN,NaN,NaN,NaN,NaN,NaN,other,W,outlook.com
3,2987003,NaN,NaN,86499,150.0,NaN,NaN,NaN,NaN,NaN,NaN,other,W,yahoo.com
4,2987004,166.0,T,86506,150.0,New,NotFound,New,NotFound,Android 7.0,2220x1080,other,H,gmail.com

In [51]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin

class select_and_order_cols(BaseEstimator, TransformerMixin):
    def __init__(self):
        return
    
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        X_ = X.copy()
        
        cols_order = oli.columns.to_list()
        cols_order.remove('isFraud')

        temp = X_[cols_order]
        
        return temp

class emailTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return
    
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        X_ = X.copy()

        temp = X_['P_emaildomain'].copy()

        valid_emails = ['gmail.com', 'hotmail.com', 'anonymous.com', 'yahoo.com']
        
        temp[~(temp.isin(valid_emails))] = 'other'
        
        X_['P_emaildomain'] = temp
        
        return X_
        
specific = ['id_30','id_33','DeviceInfo']

class id_30_transformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return
    
    def fit(self, X, y=None):
        return
    
    def transform(self, X):
        X_ = X.copy()

        temp = X_['id_30'].copy()

        valid_types = ['Windows 10', 'Windows 7', 'iOS 11.2.1', 
                       'iOS 11.1.2', 'Android 7.0', 'Mac OS X 10_12_6', 'Mac OS X 10_11_6']
        
        temp[~(temp.isin(valid_types))] = 'other'
        
        X_['id_30'] = temp
        
        return X_
    
class id_33_transformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return

    def fit(self, X, y=None):
        return
    
    def transform(self, X):

        X_ = X.copy()

        temp = X_['id_33'].copy()

        valid_types = ['1920x1080', '1366x768', '1334x750', '2208x1242', '1440x900',
                       '1600x900', '2048x1536', '1280x800', '2560x1600', '2560x1440',
                       '2880x1800', '1280x1024', '1680x1050', '1136x640']

        
        temp[~(temp.isin(valid_types))] = 'other'
        
        X_['id_33'] = temp
        
        return X_
        
class DeviceInfo_transformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return
    
    
    def fit(self, X, y=None):
        return
    
    def transform(self, X):

        X_ = X.copy()

        temp = X_['DeviceInfo'].copy()
        
        valid_types = ['Windows', 'iOS Device', 'MacOS', 'Trident/7.0']
        
        temp[~(temp.isin(valid_types))] = 'other'
        
        X_['DeviceInfo'] = temp
        
        return X_

class num_imputer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return

    def fit(self, X, y=None):
        return

    def transform(self, X):

        X_ = X.copy()

        num_cols = X_.select_dtypes(exclude=object).columns.to_list()

        X_[num_cols] = X_[num_cols].fillna(X_[num_cols].mean())

        return X_

class cat_imputer(BaseEstimator, TransformerMixin):
    def __init__(self):
        return

    def fit(self, X, y=None):
        return

    def transform(self, X):
        X_ = X.copy()

        cat_cols = X_.select_dtypes(include=object).columns.to_list()

        X_[cat_cols] = X_[cat_cols].fillna(X_[cat_cols].mode())

        return X_

class dummies(BaseEstimator, TransformerMixin):
    def __init__(self):
        return

    def fit(self, X, y=None):
        return

    def transform(self, X):
        X_ = X.copy()

        X_ = pd.get_dummies(X_)

        return X_

In [52]:
num_pipeline = Pipeline([
    ('imputer', num_imputer)
])

In [53]:
cat_pipeline = Pipeline([
    ('imp', cat_imputer),
    ('onehot', dummies)
])

In [61]:
first_pipeline = Pipeline([
    ('email', emailTransformer()),
    ('id_30', id_30_transformer()),
    ('id_33', id_33_transformer()),
    ('devinfo', DeviceInfo_transformer()),
    ('num_imputer', num_imputer()),
    ('cat_imp', cat_imputer()),
    ('onehot', dummies())
])

Import in randomforest

In [55]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=20, max_depth=None, bootstrap=False, max_features=8)

In [56]:
train_t = pd.read_csv('Data/initial/train_transaction.csv')
train_i = pd.read_csv('Data/initial/train_identity.csv')

cols_to_use = train_i.columns.difference(train_t.columns).to_list()

cols_to_use.append('TransactionID')

full_train = train_t.merge(train_i[cols_to_use], on='TransactionID', how='left')

cols = oli.columns.to_list()

train = full_train[cols]

In [62]:
y = train['isFraud']

X = train.drop('isFraud', axis=1)

X = first_pipeline.transform(X)

In [63]:
forest.fit(X,y)

RandomForestClassifier(bootstrap=False, max_features=8, n_estimators=20)

In [64]:
from joblib import dump, load

dump(forest, 'Data/model_attempt2.joblib')
#forest = load('Data/model.joblib')

['Data/model_attempt2.joblib']

In [65]:
from sklearn.metrics import confusion_matrix

train_preds = forest.predict(X)

mat = confusion_matrix(y, train_preds)

mat

array([[569877,      0],
       [     0,  20663]])

In [66]:
forest.score(X,y)

1.0

In [67]:
from sklearn.metrics import f1_score

preds = forest.predict(X)

f1 = f1_score(y, preds)

f1

1.0

In [ ]:
from sklearn.model_selection import cross_val_score

#scores = cross_val_score(forest, X, y, cv=5, scoring='f1')

#np.mean(scores)

In [68]:
test_identity = pd.read_csv('Data/initial/test_identity.csv')
test_transaction = pd.read_csv('Data/initial/test_transaction.csv')

In [69]:
cols_to_use = test_identity.columns.difference(test_transaction.columns).to_list()

cols_to_use.append('TransactionID')

In [77]:
full_test = test_transaction.join(test_identity.set_index('TransactionID'), on='TransactionID')

In [78]:
full_test.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Just select columns used in our training data

In [79]:
cols = oli.columns.to_list()
cols.remove('isFraud')

test = full_test[cols]

X_test = first_pipeline.transform(test)

y_preds = forest.predict(X_test)

In [80]:
sum(y_preds)

4019

In [81]:
output = pd.DataFrame({'TransactionID':full_test.TransactionID, 'isFraud':y_preds})

In [75]:
output.head()

   TransactionID  isFraud
0        3663549        0
1        3663550        0
2        3663551        0
3        3663552        0
4        3663553        0

In [82]:
output.to_csv('Data/output.csv', index=False)

In [ ]:
np.sum(y_preds) / len(y_preds)

In [ ]:
np.sum(y) /len(y)

In [105]:
L = len(oli)

In [106]:
subset = oli[:int(L)].copy()

sub_train = subset[:int(len(subset)*0.8)]
sub_test = subset[int(len(subset)*0.8):]

In [107]:
new_for = RandomForestClassifier(n_estimators=100, max_depth=10)

In [108]:
sub_y_train = sub_train['isFraud']

sub_x_train = sub_train.drop('isFraud', axis=1)

sub_x_train = first_pipeline.transform(sub_x_train)

print(sub_x_train.columns.to_list())

new_for.fit(sub_x_train, sub_y_train)

['TransactionID', 'id_17', 'TransactionDT', 'card3', 'id_35_F', 'id_35_T', 'id_15_Found', 'id_15_New', 'id_15_Unknown', 'id_16_Found', 'id_16_NotFound', 'id_28_Found', 'id_28_New', 'id_29_Found', 'id_29_NotFound', 'id_30_Android 7.0', 'id_30_Mac OS X 10_11_6', 'id_30_Mac OS X 10_12_6', 'id_30_Windows 10', 'id_30_Windows 7', 'id_30_iOS 11.1.2', 'id_30_iOS 11.2.1', 'id_30_other', 'id_33_1136x640', 'id_33_1280x1024', 'id_33_1280x800', 'id_33_1334x750', 'id_33_1366x768', 'id_33_1440x900', 'id_33_1600x900', 'id_33_1680x1050', 'id_33_1920x1080', 'id_33_2048x1536', 'id_33_2208x1242', 'id_33_2560x1440', 'id_33_2560x1600', 'id_33_2880x1800', 'id_33_other', 'DeviceInfo_MacOS', 'DeviceInfo_Trident/7.0', 'DeviceInfo_Windows', 'DeviceInfo_iOS Device', 'DeviceInfo_other', 'ProductCD_C', 'ProductCD_H', 'ProductCD_R', 'ProductCD_S', 'ProductCD_W', 'P_emaildomain_anonymous.com', 'P_emaildomain_gmail.com', 'P_emaildomain_hotmail.com', 'P_emaildomain_other', 'P_emaildomain_yahoo.com']

RandomForestClassifier(max_depth=10)

In [110]:
sub_y_test = sub_test['isFraud']

sub_x_test = sub_test.drop('isFraud', axis=1)

sub_x_test = first_pipeline.transform(sub_x_test)

print(sub_x_test.columns.to_list())

sub_y_preds = new_for.predict(sub_x_test)

['TransactionID', 'id_17', 'TransactionDT', 'card3', 'id_35_F', 'id_35_T', 'id_15_Found', 'id_15_New', 'id_15_Unknown', 'id_16_Found', 'id_16_NotFound', 'id_28_Found', 'id_28_New', 'id_29_Found', 'id_29_NotFound', 'id_30_Android 7.0', 'id_30_Mac OS X 10_11_6', 'id_30_Mac OS X 10_12_6', 'id_30_Windows 10', 'id_30_Windows 7', 'id_30_iOS 11.1.2', 'id_30_iOS 11.2.1', 'id_30_other', 'id_33_1136x640', 'id_33_1280x1024', 'id_33_1280x800', 'id_33_1334x750', 'id_33_1366x768', 'id_33_1440x900', 'id_33_1600x900', 'id_33_1680x1050', 'id_33_1920x1080', 'id_33_2048x1536', 'id_33_2208x1242', 'id_33_2560x1440', 'id_33_2560x1600', 'id_33_2880x1800', 'id_33_other', 'DeviceInfo_MacOS', 'DeviceInfo_Trident/7.0', 'DeviceInfo_Windows', 'DeviceInfo_iOS Device', 'DeviceInfo_other', 'ProductCD_C', 'ProductCD_H', 'ProductCD_R', 'ProductCD_S', 'ProductCD_W', 'P_emaildomain_anonymous.com', 'P_emaildomain_gmail.com', 'P_emaildomain_hotmail.com', 'P_emaildomain_other', 'P_emaildomain_yahoo.com']

In [111]:
mat = confusion_matrix(sub_y_test, sub_y_preds)

mat

array([[114044,      0],
       [  4064,      0]])

In [112]:
sub_f = f1_score(sub_y_test, sub_y_preds)

sub_f

0.0

In [119]:
from sklearn.metrics import roc_auc_score

for i in range(2, 10, 1):
    clf = RandomForestClassifier(criterion='gini', max_depth=30, bootstrap=False, max_features=7, min_samples_leaf=1,
                                 min_samples_split=4,)
    
    clf.fit(sub_x_train, sub_y_train)
    
    p = clf.predict(sub_x_test)
    
    print("Features: ", i)
    print()
    print(confusion_matrix(sub_y_test, p))
    print()
    print(f1_score(sub_y_test,p))
    print()
    print(roc_auc_score(sub_y_test, clf.predict_proba(sub_x_test)[:, 1]))
    print("-------------------------------------")

Features:  2

[[110324   3720]
 [  3495    569]]

0.13623847719382257

0.4612505666327294
-------------------------------------
Features:  3

[[110340   3704]
 [  3502    562]]

0.1349339735894358

0.5350701773621287
-------------------------------------
Features:  4

[[110457   3587]
 [  3500    564]]

0.13730979914790017

0.467361283768221
-------------------------------------
Features:  5

[[110347   3697]
 [  3500    564]]

0.1354954954954955

0.5431504157498819
-------------------------------------
Features:  6

[[110343   3701]
 [  3499    565]]

0.13565426170468187

0.4643992253076378
-------------------------------------
Features:  7

[[110330   3714]
 [  3494    570]]

0.13655965500718734

0.5130324481319822
-------------------------------------
Features:  8

[[110320   3724]
 [  3500    564]]

0.13505747126436782

0.5271533718026223
-------------------------------------
Features:  9

[[110364   3680]
 [  3500    564]]

0.13577274915743862

0.5283830664490733
-------------------------------------

Max depth:  35

[[110382   3662]
 [  3499    565]]

0.1362923652152937

0.4908975334702975